<div class="sub-header column white">
    <div class="git-text title row jc-sb">
        <h3 class="sub-text h3-text">{{ title }}</h3>
        <div class="title-btn row">
            <button class="github-btn row full-white span bg-black">
                <img width="16" height="16" [ngSrc]="'github-star' | asset" alt="github" />
                <span class="github-text">GitHub Stars</span>
                <img
                    width="8"
                    height="8"
                    [ngSrc]="'rectangle' | asset"
                    alt="rectangle"
                    class="rectangle" />
            </button>
            <button class="stars-btn row full-white span bg-black">1,131</button>
        </div>
    </div>
    <span class="sub-title span">
        {{ subtitle }}
    </span>
    <div class="chips">
        <ngx-mask-chips [chips]="chips"></ngx-mask-chips>
    </div>
</div>
