@import "src/styles";

.sub-header {
  display: flex;
  flex-direction: column;
  padding: 20px 20px 20px 30px;
  background: $grey-header;
  .title {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    h3 {
      @include h3-text;
    }
    .title-btn {
      display: flex;
      .github-btn {
        width: 119px;
        margin-right: 7px;
        .rectangle {
          position: relative;
          left: 15px;
          top: 6px;
        }
      }
      .stars-btn {

      }
      .github-btn, .stars-btn {
        display: flex;
        flex-direction: row;
        padding: 3px 10px;
        gap: 10px;
        isolation: isolate;
        height: 27px;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 21px;
        color: #FFFFFF;
        background: #191919;
        border: 1px solid #191919;
        border-radius: 4px;
      }
    }
  }
  .sub-title {
    padding-bottom: 10px;
  }
}
