<mat-toolbar class="header mat-elevation-z6">
    <mat-toolbar-row>
        <span class="logo">
            <a href="https://github.com/JsDaddy" target="_blank">
                <img src="assets/img/logo.png" alt="jsdaddy" class="logo"
            /></a>
        </span>
    </mat-toolbar-row>
    <mat-toolbar-row>
        <span>
            <a mat-button href="https://jsdaddy.github.io/ngx-copypaste/">Ngx-copypaste </a>
        </span>
        <span>
            <a mat-button class="loader" href="https://jsdaddy.github.io/ngx-loader-indicator/">
                Ngx-loader-indicator
            </a>
        </span>
    </mat-toolbar-row>
</mat-toolbar>
