<div class="header">
    <div class="left-side">
        <span class="logo">
            <a href="https://github.com/JsDaddy" target="_blank">
                <img width="34" height="29" [ngSrc]="'new_logo' | asset" alt="jsdaddy" class="logo"
            /></a>
        </span>
    </div>
    <div class="center-side">
        <span class="mrl-20">
            <a href="https://jsdaddy.github.io/ngx-copypaste/">
                <button class="active-btn">Ngx-mask</button>
            </a>
        </span>
        <span class="mr-5">
            <a href="https://jsdaddy.github.io/ngx-copypaste/">
                <button class="default-btn">Ngx-copypaste</button>
            </a>
        </span>
        <span>
            <a class="loader" href="https://jsdaddy.github.io/ngx-loader-indicator/">
                <button class="default-btn">Ngx-loader-indicator</button>
            </a>
        </span>
    </div>
    <div class="quit-logo"></div>
</div>
