@import 'src/styles';
:host {
    display: block;
    height: 68px;
}
.header {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    .left-side {
        width: 310px;
        height: 68px;
        .logo {
            padding: 20px;
        }
    }
    .center-side {
        .default-btn,
        .active-btn {
            border-radius: 9px;
            padding: 5px 23px;
            gap: 10px;
            height: 31px;
            cursor: pointer;
        }
        .active-btn {
            border: 1px solid var(--white);
        }
    }
    .quit-logo {
        margin-left: auto;
        padding: 10px 10px 11px 0;
        width: 48px;
        height: 48px;
    }
    .open-nav {
        display: none;
    }
    .nav-section {
        display: none;
    }
    .mrl-20 {
        margin-left: 20px;
    }
    .mr-5 {
        margin: 0 5px;
    }
}

.show {
    display: block;
}
.hide {
    &.nav-section {
        display: none !important;
    }
    display: none !important;
    background: red !important;
}
@media screen and (max-width: $desktopWidth) {
    .left-side {
        width: 100px !important;
    }
}

@media screen and (max-width: $mobileWidth) {
    .quit-logo {
        display: none;
    }
    .open-nav {
        display: block !important;
        margin-left: auto;
    }
    .nav-section {
        display: block !important;
        position: fixed;
        z-index: 2;
        height: 100%;
        top: 68px;
        left: 0;
        right: 0;
        width: 100%;
        padding: 15px 20px;
    }
    .center-side {
        display: none !important;
    }
    .nav-buttons {
        padding-top: 45px;
        button {
            padding: 5px 0 5px 15px;
            margin: 10px;
            width: 100%;
            border-radius: 9px;
        }
    }
}
