@import "src/styles";
:host {
    display: block;
    height: 68px;
}
.header {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    .left-side {
        width: 310px;
        height: 68px;
        .logo {
            padding: 20px;
        }
    }
    .center-side {
        .default-btn, .active-btn {
            border-radius: 9px;
            padding: 5px 23px;
            gap: 10px;
            height: 31px;
            cursor: pointer;
        }
        .active-btn {
            border: 1px solid var(--white);
        }
    }
    .quit-logo {
        margin-left: auto;
        padding: 10px 10px 11px 0;
        content: url("/assets/img/button-exit.svg");
        width: 48px;
        height: 48px;
    }
    .nav-section {
        display: none;
    }
    .mrl-20 {
        margin-left: 20px;
    }
    .mr-5 {
        margin: 0 5px;
    }
}
@media screen and (max-width: 920px) {
    .left-side {
        width: 100px !important;
    }
}

@media screen and (max-width: $mobileWidth) {
    .quit-logo {
        content: url("/assets/img/buttor-exit.svg") !important;
    }
    .center-side {
        display: none !important;
    }
}
