<div class="header row ai-c bg-full-white">
    <div class="left-side">
        <span class="logo">
            <a href="https://github.com/JsDaddy" target="_blank">
                <img width="34" height="29" [ngSrc]="'logo' | asset" alt="jsdaddy" class="logo" />
            </a>
        </span>
    </div>
    <div class="center-side row ai-c">
        <span class="mrl-20">
            <a href="https://jsdaddy.github.io/ngx-copypaste/">
                <button class="active-btn row ai-c yellow bg-black">Ngx-mask</button>
            </a>
        </span>
        <span class="mr-5">
            <a href="https://jsdaddy.github.io/ngx-copypaste/">
                <button class="default-btn row ai-c text button">Ngx-copypaste</button>
            </a>
        </span>
        <span>
            <a class="loader" href="https://jsdaddy.github.io/ngx-loader-indicator/">
                <button class="default-btn row ai-c text button">Ngx-loader-indicator</button>
            </a>
        </span>
    </div>
    <div class="quit-logo pointer">
        <img width="48" height="48" [ngSrc]="'button-exit' | asset" alt="quit-logo" />
    </div>
    <div class="open-nav pointer" (click)="showNavBlock()">
        <img width="48" height="48" [ngSrc]="'buttor-exit' | asset" alt="quit-logo" />
    </div>
    <div class="nav-section bg-black" [ngClass]="showNav | hide">
        <h3 class="full-white text uppercase ls-25">Repositories</h3>
        <div class="column ai-start nav-buttons">
            <button class="row btn yellow bg-light-grey-accordion">Ngx-Mask</button>
            <button class="row btn full-white">Ngx-Loader Indicator</button>
            <button class="row btn full-white">Ngx-CopyPaste</button>
            <button>Visit WebSite</button>
        </div>
    </div>
</div>
