<div class="row">
  <div class="col-12">
    <label for="ShadowDomMaskTyped">Input Field for ViewEncapsulation.ShadowDom with showMaskTyped=true</label>
    <div>
      <p>
        <input
          type="text"
          placeholder="Phone Number"
          mask="(000) 000-0000"
          formControlName="ShadowDomMaskTyped"
          id="ShadowDomMaskTyped"
          [showMaskTyped]="true"
        />
      </p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <label for="ShadowDom">Input Field for ViewEncapsulation.ShadowDom with showMaskTyped=false</label>
    <div>
      <p>
        <input
          type="text"
          placeholder="Phone Number"
          mask="(000) 000-0000"
          formControlName="ShadowDom"
          id="ShadowDom"
          [showMaskTyped]="false"
        />
      </p>
    </div>
  </div>
</div>