<div class="header row ai-c bg-full-white" [ngClass]="showNav | hide">
    <div class="left-side">
        <span class="logo">
            <a href="https://github.com/JsDaddy" target="_blank">
                <img width="34" height="29" [ngSrc]="'logo' | asset" alt="jsdaddy" class="logo" />
            </a>
        </span>
    </div>
    <div class="center-side row ai-c" *ngFor="let items of headerDoc; trackBy: trackByPath">
        <span class="mrl-20" [ngClass]="checkIsActive === items.link | color">
            <a [href]="items.link">
                <button class="center-buttons row ai-c pointer">
                    {{ items.title }}
                </button>
            </a>
        </span>
    </div>
    <div class="open-nav pointer" (click)="toggleNavBlock()">
        <img width="48" height="48" [ngSrc]="'buttor-exit' | asset" alt="quit-logo" />
    </div>
    <div class="nav-section bg-black" [ngClass]="showNav | hide">
        <h3 class="full-white text uppercase ls-25">Repositories</h3>
        <div class="nav-buttons">
            <div
                *ngFor="let items of headerDoc; trackBy: trackByPath"
                [ngClass]="checkIsActive === items.link | color">
                <a [href]="items.link">
                    <button class="row">
                        {{ items.title }}
                    </button>
                </a>
            </div>
            <div class="btn-bottom">
                <ngx-mask-demo-visit-btn></ngx-mask-demo-visit-btn>
            </div>
        </div>
    </div>
</div>
