# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp

# dependencies
/node_modules
/bower_components

# IDEs and editors
/.idea
/.vscode
.project
.classpath
*.launch
.settings/

# misc
/.angular/cache
/.cache
/.sass-cache
/connect.lock
/coverage/*
/src/coverage/*
/projects/ngx-mask-lib/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
/typings
/cypress/videos
/cypress/screenshots
/cypress/support
/cypress/fixtures
/cypress
# e2e
/e2e/*.js
/e2e/*.map

#System Files
.DS_Store
Thumbs.db

/build

.ng_pkg_build/
dist.tgz
yarn.lock

test-reports/

/projects/ngx-mask-lib/cypress/videos
/projects/ngx-mask-lib/cypress/screenshots
/projects/ngx-mask-lib/coverage

.angular
