{
  "singleQuote": true,
  "trailingComma": "none",
  "printWidth": 100,
  "useTabs": false,
  "tabWidth": 2,
  "bracketSpacing": true,
  "semi": true,
  "arrowParens": "avoid",
  "htmlWhitespaceSensitivity": "strict"
}
