/* node_modules/highlight.js/styles/github.css */
pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
}
code.hljs {
  padding: 3px 5px;
}
/*!
  Theme: GitHub
  Description: Light theme as seen on github.com
  Author: github.com
  Maintainer: @Hirse
  Updated: 2021-05-15

  Outdated base version: https://github.com/primer/github-syntax-light
  Current colors taken from GitHub's CSS
*/
.hljs {
  color: #24292e;
  background: #ffffff;
}
.hljs-doctag,
.hljs-keyword,
.hljs-meta .hljs-keyword,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-variable.language_ {
  color: #d73a49;
}
.hljs-title,
.hljs-title.class_,
.hljs-title.class_.inherited__,
.hljs-title.function_ {
  color: #6f42c1;
}
.hljs-attr,
.hljs-attribute,
.hljs-literal,
.hljs-meta,
.hljs-number,
.hljs-operator,
.hljs-variable,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-id {
  color: #005cc5;
}
.hljs-regexp,
.hljs-string,
.hljs-meta .hljs-string {
  color: #032f62;
}
.hljs-built_in,
.hljs-symbol {
  color: #e36209;
}
.hljs-comment,
.hljs-code,
.hljs-formula {
  color: #6a737d;
}
.hljs-name,
.hljs-quote,
.hljs-selector-tag,
.hljs-selector-pseudo {
  color: #22863a;
}
.hljs-subst {
  color: #24292e;
}
.hljs-section {
  color: #005cc5;
  font-weight: bold;
}
.hljs-bullet {
  color: #735c0f;
}
.hljs-emphasis {
  color: #24292e;
  font-style: italic;
}
.hljs-strong {
  color: #24292e;
  font-weight: bold;
}
.hljs-addition {
  color: #22863a;
  background-color: #f0fff4;
}
.hljs-deletion {
  color: #b31d28;
  background-color: #ffeef0;
}
.hljs-char.escape_,
.hljs-link,
.hljs-params,
.hljs-property,
.hljs-punctuation,
.hljs-tag {
}

/* src/styles.scss */
*,
::before,
::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
  --tw-contain-size: ;
  --tw-contain-layout: ;
  --tw-contain-paint: ;
  --tw-contain-style: ;
}
::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
  --tw-contain-size: ;
  --tw-contain-layout: ;
  --tw-contain-paint: ;
  --tw-contain-style: ;
}
*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}
::before,
::after {
  --tw-content: "";
}
html,
:host {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  tab-size: 4;
  font-family:
    Varela,
    system-ui,
    sans-serif;
  font-feature-settings: normal;
  font-variation-settings: normal;
  -webkit-tap-highlight-color: transparent;
}
body {
  margin: 0;
  line-height: inherit;
}
hr {
  height: 0;
  color: inherit;
  border-top-width: 1px;
}
abbr:where([title]) {
  text-decoration: underline dotted;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
a {
  color: inherit;
  text-decoration: inherit;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp,
pre {
  font-family:
    ui-monospace,
    SFMono-Regular,
    Menlo,
    Monaco,
    Consolas,
    "Liberation Mono",
    "Courier New",
    monospace;
  font-feature-settings: normal;
  font-variation-settings: normal;
  font-size: 1em;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}
button,
select {
  text-transform: none;
}
button,
input:where([type=button]),
input:where([type=reset]),
input:where([type=submit]) {
  -webkit-appearance: button;
  background-color: transparent;
  background-image: none;
}
:-moz-focusring {
  outline: auto;
}
:-moz-ui-invalid {
  box-shadow: none;
}
progress {
  vertical-align: baseline;
}
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}
[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
summary {
  display: list-item;
}
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}
fieldset {
  margin: 0;
  padding: 0;
}
legend {
  padding: 0;
}
ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
dialog {
  padding: 0;
}
textarea {
  resize: vertical;
}
input::placeholder,
textarea::placeholder {
  opacity: 1;
  color: #9ca3af;
}
button,
[role=button] {
  cursor: pointer;
}
:disabled {
  cursor: default;
}
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}
img,
video {
  max-width: 100%;
  height: auto;
}
[hidden]:where(:not([hidden=until-found])) {
  display: none;
}
.fixed {
  position: fixed;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.bottom-5 {
  bottom: 1.25rem;
}
.left-0 {
  left: 0px;
}
.right-0 {
  right: 0px;
}
.right-5 {
  right: 1.25rem;
}
.right-\[-1px\] {
  right: -1px;
}
.top-0 {
  top: 0px;
}
.top-1\/2 {
  top: 50%;
}
.top-\[68px\] {
  top: 68px;
}
.z-10 {
  z-index: 10;
}
.z-20 {
  z-index: 20;
}
.mx-5 {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}
.mb-5 {
  margin-bottom: 1.25rem;
}
.mb-5px {
  margin-bottom: 5px;
}
.ml-4 {
  margin-left: 1rem;
}
.ml-auto {
  margin-left: auto;
}
.mr-2\.5 {
  margin-right: 0.625rem;
}
.mr-\[44px\] {
  margin-right: 44px;
}
.mr-\[7px\] {
  margin-right: 7px;
}
.mt-10 {
  margin-top: 2.5rem;
}
.mt-2\.5 {
  margin-top: 0.625rem;
}
.mt-5 {
  margin-top: 1.25rem;
}
.mt-\[55px\] {
  margin-top: 55px;
}
.mt-\[64px\] {
  margin-top: 64px;
}
.mt-auto {
  margin-top: auto;
}
.box-border {
  box-sizing: border-box;
}
.block {
  display: block;
}
.flex {
  display: flex;
}
.inline-flex {
  display: inline-flex;
}
.hidden {
  display: none;
}
.h-2 {
  height: 0.5rem;
}
.h-\[157px\] {
  height: 157px;
}
.h-\[21px\] {
  height: 21px;
}
.h-\[45px\] {
  height: 45px;
}
.h-\[51px\] {
  height: 51px;
}
.h-\[55px\] {
  height: 55px;
}
.h-\[68px\] {
  height: 68px;
}
.h-fit {
  height: fit-content;
}
.h-full {
  height: 100%;
}
.w-2 {
  width: 0.5rem;
}
.w-\[270px\] {
  width: 270px;
}
.w-\[310px\] {
  width: 310px;
}
.w-\[67\%\] {
  width: 67%;
}
.w-fit {
  width: fit-content;
}
.w-full {
  width: 100%;
}
.w-max {
  width: max-content;
}
.flex-\[45\%\] {
  flex: 45%;
}
.flex-\[55\%\] {
  flex: 55%;
}
.translate-y-\[-50\%\] {
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.rotate-180 {
  --tw-rotate: 180deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.rotate-45 {
  --tw-rotate: 45deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.cursor-pointer {
  cursor: pointer;
}
.scroll-mt-\[185px\] {
  scroll-margin-top: 185px;
}
.flex-row {
  flex-direction: row;
}
.flex-col {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.items-start {
  align-items: flex-start;
}
.items-end {
  align-items: flex-end;
}
.items-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.gap-15px {
  gap: 15px;
}
.gap-2\.5 {
  gap: 0.625rem;
}
.gap-30px {
  gap: 30px;
}
.gap-4 {
  gap: 1rem;
}
.gap-5 {
  gap: 1.25rem;
}
.gap-50px {
  gap: 50px;
}
.gap-5px {
  gap: 5px;
}
.self-center {
  align-self: center;
}
.overflow-auto {
  overflow: auto;
}
.overflow-hidden {
  overflow: hidden;
}
.whitespace-pre-line {
  white-space: pre-line;
}
.rounded-10px {
  border-radius: 10px;
}
.rounded-15px {
  border-radius: 15px;
}
.rounded-25px {
  border-radius: 25px;
}
.rounded-4px {
  border-radius: 4px;
}
.rounded-5px {
  border-radius: 5px;
}
.border {
  border-width: 1px;
}
.border-b {
  border-bottom-width: 1px;
}
.border-b-2 {
  border-bottom-width: 2px;
}
.border-b-2px {
  border-bottom-width: 2px;
}
.border-t {
  border-top-width: 1px;
}
.border-solid {
  border-style: solid;
}
.border-none {
  border-style: none;
}
.border-black {
  --tw-border-opacity: 1;
  border-color: rgb(0 0 0 / var(--tw-border-opacity));
}
.border-yellow {
  --tw-border-opacity: 1;
  border-color: rgb(255 214 77 / var(--tw-border-opacity));
}
.border-b-full-white\/\[\.05\] {
  border-bottom-color: rgb(255 255 255 / .05);
}
.border-b-white {
  --tw-border-opacity: 1;
  border-bottom-color: rgb(248 248 248 / var(--tw-border-opacity));
}
.border-t-black\/10 {
  border-top-color: rgb(0 0 0 / 0.1);
}
.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity));
}
.bg-dark {
  --tw-bg-opacity: 1;
  background-color: rgb(25 25 25 / var(--tw-bg-opacity));
}
.bg-dark\/\[\.02\] {
  background-color: rgb(25 25 25 / .02);
}
.bg-full-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}
.bg-orange {
  --tw-bg-opacity: 1;
  background-color: rgb(255 113 10 / var(--tw-bg-opacity));
}
.bg-orange\/\[\.05\] {
  background-color: rgb(255 113 10 / .05);
}
.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(248 248 248 / var(--tw-bg-opacity));
}
.bg-yellow {
  --tw-bg-opacity: 1;
  background-color: rgb(255 214 77 / var(--tw-bg-opacity));
}
.bg-yellow\/\[\.05\] {
  background-color: rgb(255 214 77 / .05);
}
.p-0 {
  padding: 0px;
}
.p-15px {
  padding: 15px;
}
.p-2\.5 {
  padding: 0.625rem;
}
.p-4 {
  padding: 1rem;
}
.p-5 {
  padding: 1.25rem;
}
.px-15px {
  padding-left: 15px;
  padding-right: 15px;
}
.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.px-2\.5 {
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}
.px-30px {
  padding-left: 30px;
  padding-right: 30px;
}
.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
.px-5px {
  padding-left: 5px;
  padding-right: 5px;
}
.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.px-\[32px\] {
  padding-left: 32px;
  padding-right: 32px;
}
.py-15px {
  padding-top: 15px;
  padding-bottom: 15px;
}
.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
.py-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}
.py-5px {
  padding-top: 5px;
  padding-bottom: 5px;
}
.py-\[14px\] {
  padding-top: 14px;
  padding-bottom: 14px;
}
.py-\[3px\] {
  padding-top: 3px;
  padding-bottom: 3px;
}
.pb-10 {
  padding-bottom: 2.5rem;
}
.pb-2\.5 {
  padding-bottom: 0.625rem;
}
.pl-15px {
  padding-left: 15px;
}
.pl-30px {
  padding-left: 30px;
}
.pl-\[22px\] {
  padding-left: 22px;
}
.pl-\[45px\] {
  padding-left: 45px;
}
.pr-5 {
  padding-right: 1.25rem;
}
.pt-\[22px\] {
  padding-top: 22px;
}
.text-h3 {
  font-size: 25px;
  line-height: 27px;
  font-weight: 500;
}
.text-h5 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
.text-span {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}
.text-span-12 {
  font-size: 12px;
  line-height: 21px;
  font-weight: 400;
}
.text-title {
  font-size: 10px;
  line-height: 14px;
  font-weight: 400;
}
.uppercase {
  text-transform: uppercase;
}
.italic {
  font-style: italic;
}
.tracking-\[\.25em\] {
  letter-spacing: .25em;
}
.text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}
.text-black\/\[\.45\] {
  color: rgb(0 0 0 / .45);
}
.text-dark {
  --tw-text-opacity: 1;
  color: rgb(25 25 25 / var(--tw-text-opacity));
}
.text-dark\/\[\.25\] {
  color: rgb(25 25 25 / .25);
}
.text-dark\/\[\.45\] {
  color: rgb(25 25 25 / .45);
}
.text-full-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.text-green {
  --tw-text-opacity: 1;
  color: rgb(26 183 126 / var(--tw-text-opacity));
}
.text-orange {
  --tw-text-opacity: 1;
  color: rgb(255 113 10 / var(--tw-text-opacity));
}
.text-white {
  --tw-text-opacity: 1;
  color: rgb(248 248 248 / var(--tw-text-opacity));
}
.text-yellow {
  --tw-text-opacity: 1;
  color: rgb(255 214 77 / var(--tw-text-opacity));
}
.outline-none {
  outline: 2px solid transparent;
  outline-offset: 2px;
}
.outline {
  outline-style: solid;
}
.blur {
  --tw-blur: blur(8px);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}
.filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}
.backdrop-filter {
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}
.transition {
  transition-property:
    color,
    background-color,
    border-color,
    text-decoration-color,
    fill,
    stroke,
    opacity,
    box-shadow,
    transform,
    filter,
    backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.ease-in-out {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.placeholder\:text-white\/25::placeholder {
  color: rgb(248 248 248 / 0.25);
}
.empty\:hidden:empty {
  display: none;
}
.hover\:border-b-yellow:hover {
  --tw-border-opacity: 1;
  border-bottom-color: rgb(255 214 77 / var(--tw-border-opacity));
}
.hover\:bg-black\/\[\.05\]:hover {
  background-color: rgb(0 0 0 / .05);
}
.hover\:bg-full-white\/25:hover {
  background-color: rgb(255 255 255 / 0.25);
}
.focus\:border-b-yellow:focus {
  --tw-border-opacity: 1;
  border-bottom-color: rgb(255 214 77 / var(--tw-border-opacity));
}
.focus\:bg-full-white\/25:focus {
  background-color: rgb(255 255 255 / 0.25);
}
@media (min-width: 1px) and (max-width: 700px) {
  .mob\:relative {
    position: relative;
  }
  .mob\:-left-5 {
    left: -1.25rem;
  }
  .mob\:mr-30px {
    margin-right: 30px;
  }
  .mob\:block {
    display: block;
  }
  .mob\:hidden {
    display: none;
  }
  .mob\:h-\[150px\] {
    height: 150px;
  }
  .mob\:w-full {
    width: 100%;
  }
  .mob\:flex-col {
    flex-direction: column;
  }
  .mob\:flex-col-reverse {
    flex-direction: column-reverse;
  }
  .mob\:justify-normal {
    justify-content: normal;
  }
  .mob\:gap-15px {
    gap: 15px;
  }
  .mob\:gap-30px {
    gap: 30px;
  }
  .mob\:bg-yellow\/\[\.05\] {
    background-color: rgb(255 214 77 / .05);
  }
  .mob\:px-5 {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
  .mob\:pb-5 {
    padding-bottom: 1.25rem;
  }
  .mob\:pt-35px {
    padding-top: 35px;
  }
  .mob\:text-full-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
  }
  .mob\:hover\:bg-yellow\/\[\.05\]:hover {
    background-color: rgb(255 214 77 / .05);
  }
}
@media (min-width: 700px) and (max-width: 1279px) {
  .tab\:top-\[122px\] {
    top: 122px;
  }
  .tab\:ml-30px {
    margin-left: 30px;
  }
  .tab\:block {
    display: block;
  }
  .tab\:hidden {
    display: none;
  }
  .tab\:w-\[375px\] {
    width: 375px;
  }
}
@media (min-width: 1279px) {
  .desk\:mt-0 {
    margin-top: 0px;
  }
  .desk\:hidden {
    display: none;
  }
  .desk\:h-\[calc\(100dvh-600px\)\] {
    height: calc(100dvh - 600px);
  }
  .desk\:w-\[310px\] {
    width: 310px;
  }
  .desk\:pl-2\.5 {
    padding-left: 0.625rem;
  }
  .desk\:pl-\[310px\] {
    padding-left: 310px;
  }
}

/* angular:styles/global:styles */
/*# sourceMappingURL=styles-UECQBVIS.css.map */
