/* node_modules/highlight.js/styles/github.css */
pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
}
code.hljs {
  padding: 3px 5px;
}
/*!
  Theme: GitHub
  Description: Light theme as seen on github.com
  Author: github.com
  Maintainer: @Hirse
  Updated: 2021-05-15

  Outdated base version: https://github.com/primer/github-syntax-light
  Current colors taken from GitHub's CSS
*/
.hljs {
  color: #24292e;
  background: #ffffff;
}
.hljs-doctag,
.hljs-keyword,
.hljs-meta .hljs-keyword,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-variable.language_ {
  color: #d73a49;
}
.hljs-title,
.hljs-title.class_,
.hljs-title.class_.inherited__,
.hljs-title.function_ {
  color: #6f42c1;
}
.hljs-attr,
.hljs-attribute,
.hljs-literal,
.hljs-meta,
.hljs-number,
.hljs-operator,
.hljs-variable,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-id {
  color: #005cc5;
}
.hljs-regexp,
.hljs-string,
.hljs-meta .hljs-string {
  color: #032f62;
}
.hljs-built_in,
.hljs-symbol {
  color: #e36209;
}
.hljs-comment,
.hljs-code,
.hljs-formula {
  color: #6a737d;
}
.hljs-name,
.hljs-quote,
.hljs-selector-tag,
.hljs-selector-pseudo {
  color: #22863a;
}
.hljs-subst {
  color: #24292e;
}
.hljs-section {
  color: #005cc5;
  font-weight: bold;
}
.hljs-bullet {
  color: #735c0f;
}
.hljs-emphasis {
  color: #24292e;
  font-style: italic;
}
.hljs-strong {
  color: #24292e;
  font-weight: bold;
}
.hljs-addition {
  color: #22863a;
  background-color: #f0fff4;
}
.hljs-deletion {
  color: #b31d28;
  background-color: #ffeef0;
}
.hljs-char.escape_,
.hljs-link,
.hljs-params,
.hljs-property,
.hljs-punctuation,
.hljs-tag {
}

/* src/styles.scss */
@font-face {
  font-family: "Prompt";
  src: url("./media/Prompt-SemiBold-VUSHKGAQ.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Prompt";
  src: url("./media/Prompt-SemiBoldItalic-SIMHWXUY.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Prompt";
  src: url("./media/Prompt-Bold-4D642BP2.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Prompt";
  src: url("./media/Prompt-Bold-4D642BP2.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Prompt";
  src: url("./media/Prompt-Medium-GQXLJAD2.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Prompt";
  src: url("./media/Prompt-MediumItalic-IU2HGMXN.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Prompt";
  src: url("./media/Prompt-Regular-6LNPHFDP.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Prompt";
  src: url("./media/Prompt-Italic-KLHMBM3K.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Prompt";
  src: url("./media/Prompt-Black-OPLVQROF.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Prompt";
  src: url("./media/Prompt-BlackItalic-4ALVZBAB.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Prompt";
  src: url("./media/Prompt-ExtraBold-Z5WGH35N.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Prompt";
  src: url("./media/Prompt-ExtraBoldItalic-75IKQHFQ.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Prompt";
  src: url("./media/Prompt-ExtraLight-FEQZTTI4.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Prompt";
  src: url("./media/Prompt-ExtraLightItalic-C6GEJJKR.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Prompt";
  src: url("./media/Prompt-Italic-KLHMBM3K.ttf") format("truetype");
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Prompt";
  src: url("./media/Prompt-Light-V26X2TRP.ttf") format("truetype");
  font-weight: 200;
  font-display: swap;
}
@font-face {
  font-family: "Prompt";
  src: url("./media/Prompt-LightItalic-WMQGOBOQ.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Prompt";
  src: url("./media/Prompt-Thin-NIAPM4IS.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Prompt";
  src: url("./media/Prompt-ThinItalic-47CWU4XE.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Varela";
  src: url("./media/Varela-Regular-NY5VAJFI.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}
*:focus,
*:active {
  -webkit-tap-highlight-color: transparent;
}
:root {
  --yellowHover: #f4c529;
  --black: #191919;
  --yellow: #ffd64d;
  --orange: #ff710a;
  --white: #f8f8f8;
  --full-white: #fff;
  --green: #1ab77e;
  --red: #e35353;
  --orangeYellow:
    linear-gradient(
      269.31deg,
      var(--orange) 19.29%,
      var(--yellow) 71.73%);
  --ligth-grey: rgba(255, 255, 255, 0.05);
}
.border-accordion-tb-def {
  border-width: 2px 0;
  border-style: solid;
  border-color: var(--ligth-grey);
  border-radius: 10px;
}
.bg-light-grey-accordion {
  background-color: var(--ligth-grey);
}
button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Prompt", sans-serif;
  height: 100%;
}
p {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
ul li,
ol li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}
h1,
.h1-text {
  font-size: 56px;
  line-height: 56px;
  font-weight: 600;
  color: var(--black);
}
h2,
.h2-text {
  font-size: 40px;
  line-height: 40px;
  font-weight: 500;
  color: var(--black);
}
h3,
.h3-text {
  font-size: 25px;
  line-height: 27px;
  font-weight: 500;
  color: var(--black);
}
h4,
.h4-text {
  font-size: 22px;
  line-height: 27px;
  font-weight: 500;
  color: var(--black);
}
h5,
.text {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--black);
  font-family: "Varela", sans-serif;
}
.title {
  font-size: 10px;
  line-height: 14px;
  font-weight: 400;
  color: var(--black);
  font-family: "Varela", sans-serif;
}
.span {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--black);
  font-family: "Varela", sans-serif;
}
.links {
  font-size: 14px;
  line-height: 27px;
  font-weight: 500;
  color: var(--black);
  letter-spacing: 0.05em;
}
.ls-25 {
  letter-spacing: 0.25em;
}
.uppercase {
  text-transform: uppercase;
}
.pointer {
  cursor: pointer;
}
.bg-yellow {
  background-color: var(--yellow);
}
.bg-black {
  background-color: var(--black);
}
.bg-white-opacity {
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: blur(23px);
  backdrop-filter: blur(23px);
}
.bg-orange {
  background-color: var(--orange);
}
.bg-white {
  background-color: var(--white);
}
.bg-full-white {
  background-color: var(--full-white);
}
.bg-orange-yellow {
  background: var(--orangeYellow);
}
.orange-yellow {
  background: var(--orangeYellow);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}
.yellow {
  color: var(--yellow);
}
.black {
  color: var(--black);
}
.orange {
  color: var(--orange);
}
.white {
  color: var(--white);
}
.full-white {
  color: var(--full-white);
}
.c-pointer {
  cursor: pointer;
}
.f-s-38 {
  font-size: 38px;
}
.f-s-14 {
  font-size: 14px;
}
.h-100vh {
  height: 100dvh;
}
.inline-flex {
  display: inline-flex;
}
.row {
  display: flex;
}
.column {
  display: flex;
  flex-direction: column;
}
.jc-sb {
  justify-content: space-between;
}
.jc-c {
  justify-content: center;
}
.jc-fe {
  justify-content: flex-end;
}
.ai-c {
  align-items: center;
}
.pos-rel {
  position: relative;
}
.ai-end {
  align-items: flex-end;
}
.ai-start {
  align-items: flex-start;
}
.ais-end {
  align-self: flex-end;
}
.ais-start {
  align-self: flex-start;
}
.ais-c {
  align-self: center;
}
.remove-right-wrapper-padding {
  margin-right: -84px;
}
.remove-left-wrapper-padding {
  margin-left: -84px;
}
@media (min-width: 1279px) {
  .hide-desktop {
    display: none !important;
  }
  .remove-right-desktop-wrapper-padding {
    margin-right: -84px;
  }
  .remove-left-desktop-wrapper-padding {
    margin-left: -84px;
  }
}
@media screen and (min-width: 699px) and (max-width: 1279px) {
  .remove-tablet-wrapper-padding {
    width: 100vw !important;
    transform: translate(-50%);
    margin-left: 50%;
  }
  .remove-right-tablet-wrapper-padding {
    margin-right: -42px;
  }
  .remove-left-tablet-wrapper-padding {
    margin-left: -42px;
  }
  .hide-tablet {
    display: none !important;
  }
}
@media (max-width: 699px) {
  .remove-mobile-wrapper-padding {
    width: 100vw !important;
    transform: translate(-50%);
    margin-left: 50%;
  }
  .remove-right-mobile-wrapper-padding {
    margin-right: -21px;
  }
  .remove-left-mobile-wrapper-padding {
    margin-left: -21px;
  }
  .hide-mobile {
    display: none !important;
  }
}
code {
  background: #f7f7f7 !important;
}
::-webkit-scrollbar {
  width: 6px;
  background-image:
    linear-gradient(
      to bottom,
      rgba(134, 134, 134, 0.45),
      rgba(134, 134, 134, 0.09));
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-image:
    linear-gradient(
      0deg,
      #f79046 0.28%,
      rgba(247, 144, 70, 0) 100%),
    url("./media/scroll-shadow-PCTBKIB2.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 1px solid transparent;
}
body {
  overflow-y: auto;
  overflow-x: hidden;
}

/* angular:styles/global:styles */
/*# sourceMappingURL=styles-5HAILMAH.css.map */
