@mixin border-bottom-yellow {
    border-width: 0 0 2px 0;
    border-style: solid;
    border-color: var(--yellow);
    border-radius: 10px;
}

@mixin border-bottom-grey {
    border-width: 0 0 2px 0;
    border-style: solid;
    border-color: var(--white);
    border-radius: 10px;
}
@mixin border-accordion-tb-yellow {
    border-width: 2px 0;
    border-style: solid;
    border-color: var(--yellow);
    border-radius: 10px;
}
