@font-face {
    font-family: 'Prompt';
    src: url(Prompt/Prompt-SemiBold.ttf) format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Prompt';
    src: url(Prompt/Prompt-SemiBoldItalic.ttf) format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Prompt';
    src: url(Prompt/Prompt-Bold.ttf) format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Prompt';
    src: url(Prompt/Prompt-Bold.ttf) format('truetype');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Prompt';
    src: url(Prompt/Prompt-Medium.ttf) format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Prompt';
    src: url(Prompt/Prompt-MediumItalic.ttf) format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Prompt';
    src: url(Prompt/Prompt-Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Prompt';
    src: url(Prompt/Prompt-Italic.ttf) format('truetype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Prompt';
    src: url(Prompt/Prompt-Black.ttf) format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Prompt';
    src: url(Prompt/Prompt-BlackItalic.ttf) format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Prompt';
    src: url(Prompt/Prompt-ExtraBold.ttf) format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Prompt';
    src: url(Prompt/Prompt-ExtraBoldItalic.ttf) format('truetype');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Prompt';
    src: url(Prompt/Prompt-ExtraLight.ttf) format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Prompt';
    src: url(Prompt/Prompt-ExtraLightItalic.ttf) format('truetype');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Prompt';
    src: url(Prompt/Prompt-Italic.ttf) format('truetype');
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Prompt';
    src: url(Prompt/Prompt-Light.ttf) format('truetype');
    font-weight: 200;
    font-display: swap;
}
@font-face {
    font-family: 'Prompt';
    src: url(Prompt/Prompt-LightItalic.ttf) format('truetype');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Prompt';
    src: url(Prompt/Prompt-Thin.ttf) format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Prompt';
    src: url(Prompt/Prompt-ThinItalic.ttf) format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Varela';
    src: url(Varela/Varela-Regular.ttf) format('truetype');
    font-weight: 400;
    font-display: swap;
}
