@import '../../libraries/styles/border-mixin';
@import '../../libraries/styles/media-breakpoints';

.content {
    gap: 16px;
    padding: 16px;
    border-top: 1px solid rgba(25, 25, 25, 0.05);
    box-sizing: border-box;
    .yellow {
        &.card {
            background: rgba(255, 214, 77, 0.05);
            border: 1px solid var(--yellow);
        }
    }
    .card {
        padding: 10px;
        gap: 10px;
        background: rgba(25, 25, 25, 0.02);
        border-radius: 15px;
        .mr-title {
            margin: 10px 0 10px 26px;
        }
        .cards-block {
            scroll-margin-top: 185px;
            .light-card {
                flex: 55%;
                border-radius: 10px;
                .light-title {
                    margin-bottom: 20px;
                    span {
                        margin-left: 10px;
                        font-size: 16px;
                        color: rgba(25, 25, 25, 0.25);
                    }
                }
                .source {
                    font-size: 10px;
                    color: rgba(25, 25, 25, 0.45);
                    margin-bottom: 10px;
                }
                .white-input {
                    display: block;
                    .input-view {
                        width: 100%;
                        height: fit-content;
                        cursor: text;
                        padding-left: 15px;
                        border-radius: 10px;
                        border: none;
                        overflow: hidden;
                        white-space: pre-line;
                    }
                    .input-img {
                        position: relative;
                        right: 20px;
                    }
                }
            }
            .dark-card {
                flex: 45%;
                border-radius: 10px;
                margin-left: 30px;
                .dark-input {
                    .customDarkInput {
                        @include border-bottom-grey;
                        border-top-left-radius: 0;
                        border-top-right-radius: 0;
                        height: 51px;
                        width: 100%;
                        padding: 12px 20px;
                        box-sizing: border-box;
                        -webkit-transition: 0.5s;
                        transition: 0.5s;
                        outline: none;
                        &:hover {
                            @include border-bottom-yellow;
                            background: var(--ligth-grey);
                        }
                        &[type='text']:focus {
                            @include border-bottom-yellow;
                            background: var(--ligth-grey);
                        }
                        &[type='number']:focus {
                            @include border-bottom-yellow;
                            background: var(--ligth-grey);
                        }
                    }
                }
            }
        }
    }
}
.pd-15 {
    padding: 15px;
}
.mrl-50 {
    margin-left: 50px;
}

@media screen and (max-width: $mobileWidth) {
    .content {
        .card {
            .cards-block {
                flex-direction: column;
                .dark-card {
                    flex: 100%;
                    margin-left: 0;
                }
                .light-card {
                    flex: 100%;
                    margin-bottom: 10px;
                }
            }
        }
    }
}

.button1:invalid {
    background: #7f7f7f;
}

.button1:valid {
    background: #0074D9;
}
