.content {
    display: flex;
    flex-direction: column;
    background: #f5f5f5;
    gap: 16px;
    padding: 16px;
    box-sizing: border-box;

    .doc-with-example {
        display: flex;
        gap: 16px;
        mat-card {
            flex: 50%;
        }
    }
}
