<div class="flex flex-col text-full-white pl-30px py-3 pr-5 mob:pt-5 mob:px-5 mob:pb-3">
    <span class="pb-2.5 text-span text-ink">
        {{ subtitle() }}
    </span>
    <div class="flex flex-wrap items-center gap-2">
        <a
            href="https://github.com/NepipenkoIgor/ngx-mask/actions/workflows/quality-check.yml"
            target="_blank"
            rel="noopener noreferrer">
            <img
                src="https://github.com/NepipenkoIgor/ngx-mask/actions/workflows/quality-check.yml/badge.svg?branch=develop"
                alt="Build status"
                height="20" />
        </a>
        <a href="https://www.npmjs.com/package/ngx-mask" target="_blank" rel="noopener noreferrer">
            <img src="https://img.shields.io/npm/v/ngx-mask.svg" alt="npm version" height="20" />
        </a>
        <a href="https://npmjs.org/ngx-mask" target="_blank" rel="noopener noreferrer">
            <img src="https://img.shields.io/npm/dt/ngx-mask.svg" alt="npm downloads" height="20" />
        </a>
        <a
            href="https://bundlephobia.com/package/ngx-mask"
            target="_blank"
            rel="noopener noreferrer">
            <img
                src="https://img.shields.io/bundlephobia/minzip/ngx-mask.svg"
                alt="Bundle size"
                height="20" />
        </a>
        <a
            href="https://github.com/NepipenkoIgor/ngx-mask/blob/develop/LICENSE"
            target="_blank"
            rel="noopener noreferrer">
            <img src="https://img.shields.io/npm/l/ngx-mask.svg" alt="License" height="20" />
        </a>
    </div>
</div>
