<div
    class="fixed top-0 right-0 left-0 flex items-center px-30px py-15px bg-full-white h-[68px] z-10"
    [class.hidden]="showNav()">
    <a
        class="desk:pl-2.5 desk:w-[310px]"
        href="https://github.com/NepipenkoIgor/ngx-mask"
        target="_self"
        [attr.aria-label]="'Ngx-Mask repository' | anchorLabel">
        <img
            width="34"
            height="29"
            [ngSrc]="'logo' | asset: openSourceHeaderPath"
            alt="Ngx-Mask logo"
            class="logo" />
    </a>
    <div
        aria-hidden="true"
        class="desk:hidden tab:hidden ml-auto cursor-pointer"
        (click)="toggleNavBlock()">
        <img width="48" height="48" [ngSrc]="'burger' | asset: openSourceHeaderPath" alt="Burger" />
    </div>
    <div class="flex items-center gap-5px mob:hidden tab:ml-30px">
        <ng-container *ngTemplateOutlet="openSourceButtons" />
    </div>
</div>

<div
    class="fixed top-0 right-0 left-0 flex flex-col bg-ink h-full z-10"
    [class.hidden]="!showNav()">
    <div
        class="flex items-center justify-between h-[68px] pl-30px py-15px border-b border-b-full-white/[.05]">
        <img
            aria-hidden="true"
            width="34"
            height="29"
            [ngSrc]="'logo-white' | asset: openSourceHeaderPath"
            alt="Ngx-Mask logo" />
        <img
            aria-hidden="true"
            width="68"
            height="67"
            [ngSrc]="'close' | asset: openSourceHeaderPath"
            alt="Close"
            class="cursor-pointer"
            (click)="toggleNavBlock()" />
    </div>
    <div
        class="fixed block overflow-auto z-10 top-[68px] left-0 right-0 w-full py-15px px-5 bg-ink"
        [class.hidden]="!showNav()">
        <h3 class="text-full-white text-h5 uppercase tracking-[.25em]">Repositories</h3>
        <div class="flex flex-col mt-10 gap-2.5">
            <ng-container *ngTemplateOutlet="openSourceButtons" />
        </div>
    </div>
    <ngxd-visit-btn class="mt-auto py-15px px-5 w-full" />
</div>

<ng-template #openSourceButtons>
    @for (item of headerItems; track item.title) {
        <a
            class="flex items-center px-6 py-5px rounded-10px cursor-pointer"
            [class]="
                activeLink() === item.link
                    ? 'text-accent bg-ink mob:bg-accent/[.05]'
                    : 'mob:text-full-white mob:hover:bg-accent/[.05] hover:bg-ink/[.05]'
            "
            [href]="item.link"
            target="_self"
            [attr.aria-label]="'Github-pages' | anchorLabel">
            {{ item.title }}
        </a>
    }
</ng-template>
