@import 'src/styles';
:host {
    display: block;
    height: 100%;
    .show {
        &.navigation {
            .navigation-text {
                color: var(--yellow);
            }
            img {
                content: url('/assets/img/chevron-right-24px.svg');
            }
        }
        &.drawer-container {
            display: block;
        }
    }

    .hide {
        &.drawer-container {
            display: none;
        }
        &.navigation {
            .navigation-text {
                color: var(--full-white);
            }
            img {
                content: url('/assets/img/chevron-right-24px-white.svg');
            }
            &:hover {
                .navigation-text {
                    color: var(--yellow);
                }
                img {
                    content: url('/assets/img/chevron-right-24px.svg');
                }
            }
        }
    }
}

.navigation {
    display: none;
}

.drawer-container {
    overflow: hidden;
    position: fixed;
    z-index: 1;
    height: 100%;
    top: 68px;
    width: 310px;
    padding-top: 22px;
    .drawer {
        .accordion-block {
            .accordion {
                width: 262px;
                height: 50px;
                margin: 10px 24px;
                .left-side-accordion {
                    border-radius: 50%;
                    margin: 9px 15px 9px 10px;

                    .default-svg {
                        display: block;
                    }

                    .active-svg {
                        display: none;
                    }
                }

                &:after {
                    content: url('/assets/img/chevron-right-24px-white.svg');
                    margin-left: auto;
                    margin-right: 19px;
                }

                &:hover {
                    color: var(--yellow);
                    @include border-accordion-tb-yellow;

                    &.accordion:after {
                        content: url('/assets/img/chevron-right-24px.svg');
                    }

                    .left-side-accordion {
                        .default-svg {
                            display: none;
                        }

                        .active-svg {
                            display: block;
                        }
                    }
                }
            }
            .panel {
                display: none;
            }
        }
        .active {
            &.accordion-block {
                .accordion {
                    border-width: 2px 0 0 0;
                    transition: 0ms;
                    border-color: var(--yellow);
                    &:hover {
                        border-width: 2px 0 0 0;
                    }
                    &:after {
                        content: url('/assets/img/chevron-right-24px.svg');
                        transform: rotate(180deg);
                    }
                    .accordion-btn {
                        color: var(--yellow);
                    }
                    .left-side-accordion {
                        border-radius: 50%;
                        margin: 9px 15px 9px 10px;

                        .default-svg {
                            display: none;
                        }
                        .active-svg {
                            display: block;
                        }
                    }
                }
                .panel {
                    display: block !important;
                    padding: 0 24px;
                    height: auto;
                    overflow: hidden;
                    transition: max-height 0.2s ease-out;

                    .accordion-box {
                        height: 21px;
                        padding: 10px 0 0 60px;
                    }
                    .black {
                        color: var(--full-white);
                    }
                    .accordion-box:last-child {
                        @include border-bottom-yellow;
                        padding: 10px 0 26px 60px;
                    }
                }
            }
        }
        .visit-btn {
            padding: 40px 24px 0 24px;
            position: absolute;
            bottom: 125px;
        }
    }
}

@media screen and (max-width: $desktopWidth) {
    .navigation {
        display: flex;
        height: 55px;
        width: 100%;
        z-index: 1;
        position: fixed;
        top: 68px;
        .navigation-text {
            padding-left: 20px;
            color: var(--full-white);
        }
        img {
            padding-right: 20px;
        }
    }
    .drawer-container {
        top: 122px;
        width: 375px;
        .drawer {
            .accordion-block {
                width: 100%;
                .accordion {
                    width: 87%;
                }
            }
        }
        .visit-btn {
            display: none;
        }
    }
}

@media screen and (max-width: $mobileWidth) {
    .drawer-container {
        width: 100%;
        .drawer {
            padding: 0 25px;
            .accordion-block {
                width: 100%;
                .panel {
                    .accordion-box {
                        width: 84%;
                    }
                }
            }
        }
        .visit-btn {
            display: none;
        }
    }
}
