<input mask="000 000-00-00" prefix="foo/" [dropSpecialCharacters]="false" [formControl]="test1" [validation]="true" />
<span>{{ test1.value }}</span>
<br />




<input mask="000 000-00-00" prefix="+7 " [formControl]="test2"  [validation]="true" />

<input mask="000 000-00-00" [dropSpecialCharacters]="false" [formControl]="test3" [validation]="true" />
<span>{{ test3.value }}</span>
<br />

<button [disabled]="test1.invalid" class="btn">TEST ONE</button>
<button [disabled]="test2.invalid" class="btn">TEST TWO</button>
<button [disabled]="test3.invalid" class="btn">TEST 3</button>
