:host {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    color: #ffffff;
    .primary-view {
        color: #0f172a;
        background-color: rgba(15, 23, 42, 0.1);
    }
    .accent-view {
        color: #2563eb;
        background-color: rgba(37, 99, 235, 0.2);
    }
}
