:host {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    color: #ffffff;
    .green-view {
        color: #1ab77e;
        background-color: rgba(26, 183, 126, 0.1);
    }
    .yellow-view {
        color: #ffd64d;
        background-color: rgba(255, 214, 77, 0.2);
    }
}
