@import 'src/styles';
.card-text {
    .sub-text {
        margin-bottom: 5px;
    }
    .green-view {
        color: var(--green);
    }
    .green-view,
    .yellow-view {
        display: contents;
        padding: 0 5px;
        gap: 10px;
        height: 21px;
        background: rgba(248, 248, 248, 0.05);
        border-radius: 5px;
    }
}
.pd-15 {
    padding: 15px;
}
.mrl-50 {
    margin-left: 50px;
}
