<!--<div class="content-wrapper column">-->
<!--    <jsdaddy-open-source-header [activeLink]="githubMaskLink" />-->
<!--    <section class="mask-wrap row">-->
<!--        <div class="drawer-container column">-->
<!--            <jsdaddy-open-source-accordion [lists]="lists" (switchCardIndex)="switchCard($event)" />-->
<!--        </div>-->
<!--        <div class="right-section column">-->
<!--            <jsdaddy-open-source-sub-header [title]="title" [subtitle]="subtitle" [chips]="chips" />-->
<!--            <jsdaddy-open-source-options [cardDocs]="card.docs" [cardExamples]="card.examples" />-->
<!--            <jsdaddy-open-source-footer />-->
<!--        </div>-->
<!--    </section>-->
<!--</div>-->

<div>
    <input type="text" mask="separator.2" [decimalMarker]="'.'" [formControl]="test" />
    value {{ test.value }}
    <div>value="{{ phone | mask: 'separator.2' }}"</div>
    <hr />
    <button (click)="hiden()">hiden</button>
    <!--    <hr />-->
    <!--    <button (click)="disabled()">disabled</button>-->
    <!--    <hr />-->
    <!--    <button (click)="setValue()">setValue</button>-->
</div>
