@import 'src/styles';
:host {
    display: block;
    height: 100%;
}
.content-wrapper {
    .mask-wrap {
        height: calc(100% - 64px);
        overflow: auto;
        .drawer-container {
            overflow: hidden;
            .navigation {
                display: none;
            }
            .drawer {
                position: fixed;
                z-index: 2;
                height: 100%;
                top: 68px;
                left: 0;
                right: 0;
                width: 310px;
                padding-top: 22px;
                .accordion-block {
                    .accordion {
                        width: 262px;
                        height: 50px;
                        margin: 10px 24px;
                        &:after {
                            content: url('/assets/img/chevron-right-24px-white.svg');
                            margin-left: auto;
                            margin-right: 19px;
                        }
                        &:hover {
                            color: var(--yellow);
                            @include border-accordion-tb-yellow;
                            &.accordion:after {
                                content: url('/assets/img/chevron-right-24px.svg');
                            }
                            .left-side-accordion {
                                color: var(--yellow);
                            }
                            .accordion-btn {
                                color: var(--yellow);
                            }
                        }
                        .left-side-accordion {
                            border-radius: 50%;
                            margin: 9px 15px 9px 10px;
                        }
                    }
                    .active {
                        &.accordion {
                            border-width: 2px 0 0 0;
                            transition: 0ms;
                            border-color: var(--yellow);
                            &:after {
                                content: url('/assets/img/chevron-right-24px.svg');
                                transform: rotate(180deg);
                            }
                            .accordion-btn {
                                color: var(--yellow);
                            }
                        }
                    }
                    .panel {
                        padding: 0 24px;
                        max-height: 0;
                        overflow: hidden;
                        transition: max-height 0.2s ease-out;
                        .accordion-box {
                            height: 21px;
                            padding: 10px 0 0 60px;
                        }
                        .accordion-box:last-child {
                            @include border-bottom-yellow;
                            padding: 10px 0 26px 60px;
                        }
                    }
                }
                .visit-btn {
                    padding: 80px 24px 0 24px;
                    .color-btn {
                        padding: 15px 32px;
                        gap: 76px;
                        width: 262px;
                        height: 45px;
                        border-radius: 10px;
                        &:after {
                            content: url('/assets/img/chevron-right-white.svg');
                            width: 20px;
                            height: 20px;
                            background: var(--black);
                            border-radius: 15px;
                            color: var(--full-white);
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                    }
                }
            }
            .right-section {
                width: 100%;
                padding-left: 310px;
            }
        }
    }
}
@media screen and (max-width: $mobileWidth) {
    .drawer {
        display: none !important;
    }
    .right-section {
        padding: 0 !important;
        margin-top: 55px;
    }
    .navigation {
        display: flex !important;
        height: 55px;
        width: 100%;
        position: fixed;
        z-index: 2;
        top: 68px;
        left: 0;
        right: 0;
        .navigation-text {
            padding-left: 20px;
        }
        img {
            padding-right: 20px;
        }
    }
}
