::-webkit-scrollbar {
    width: 6px;
    background-image: linear-gradient(
        to bottom,
        rgba(134, 134, 134, 0.45),
        rgba(134, 134, 134, 0.09)
    );
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--accent);
    border: 1px solid transparent;
}
