@use '../styles/media-breakpoints' as *;

.github-info {
    display: flex;
    margin: 0 44px 0 20px;
    div {
        display: flex;
        align-items: center;

        padding: 3px 10px;

        background-color: #24272c;

        border: 1px solid #24272c;
        border-radius: 4px;

        font-size: 12px;

        color: #fff;

        &.all-stars {
            margin-right: 7px;
            position: relative;

            &:after {
                content: '';
                width: 8px;
                height: 8px;
                background-color: #24272c;

                transform: rotate(45deg) translateY(-50%);

                position: absolute;
                top: 50%;
                right: -1px;
            }

            img {
                margin-right: 10px;
            }
        }

        &.stars-count {
            background-color: rgba(0, 114, 245, 0.13);
            border-color: rgba(0, 114, 245, 0.45);
            color: #0072f5;
        }
    }
}
@media only screen and (max-width: $mobileWidth) {
    .github-info {
        margin-right: 30px;
    }
}
