@import 'assets/style/variables';
@import 'src/assets/fonts/fonts';
@import 'src/app/shared/media-breakpoints/media-breakpoints';
@import 'src/app/shared/typography/typography.mixin';
@import 'src/assets/style/variables';
@import "src/assets/style/border-mixin";
@import "src/assets/style/font-mixin";
:root {
    --yellowHover: #f4c529;
    --black: #191919;
    --yellow: #ffd64d;
    --orange: #ff710a;
    --white: #f8f8f8;
    --full-white: #fff;
    --red: #e35353;
    --orangeYellow: linear-gradient(269.31deg, var(--orange) 19.29%, var(--yellow) 71.73%);
}
button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}
html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Prompt', sans-serif;
    height: 100%;
}
p {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
ul,
ol {
    margin: 0;
    padding: 0;

    li {
        list-style: none;
    }
}

/* Typograhpy */

h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
    padding: 0;
}

h1,
.h1-text {
    @include h1-text;
}
h2,
.h2-text {
    @include h2-text;
}
h3,
.h3-text {
    @include h3-text;
}
h4,
.h4-text {
    @include h4-text;
}
h5,
.text {
    @include regular-text;
}

.title {
    font-size: 10px;
    line-height: 14px;
    font-weight: 400;
    color: var(--black);
    font-family: 'Varela', sans-serif;
}
.span {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: var(--black);
    font-family: 'Varela', sans-serif;
}
.links {
    font-size: 14px;
    line-height: 27px;
    font-weight: 500;
    color: var(--black);
    letter-spacing: 0.05em;
}
.git-btn {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 21px;
    color: var(--full-white);
}

.fs-white-14 {
    font-family: 'Varela';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: var(--full-white);
}

.ls-25 {
    letter-spacing: 0.25em;
}

.uppercase {
    text-transform: uppercase;
}

.pointer {
    cursor: pointer;
}

/* End Typograhpy */

/* Colors */

.bg-yellow {
    background-color: var(--yellow);
}
.bg-black {
    background-color: var(--black);
}
.bg-white-opacity {
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(23px);
}
.bg-orange {
    background-color: var(--orange);
}
.bg-white {
    background-color: var(--white);
}
.bg-full-white {
    background-color: var(--full-white);
}
.bg-orange-yellow {
    background: var(--orangeYellow);
}

.orange-yellow {
    background: var(--orangeYellow);
    background-clip: text;
    color: transparent;
}
.yellow {
    color: var(--yellow);
}
.black {
    color: var(--black);
}
.orange {
    color: var(--orange);
}
.white {
    color: var(--white);
}
.full-white {
    color: var(--full-white);
}

/* End Colors */

/* Cursor */
.c {
    &-pointer {
        cursor: pointer;
    }
}
/* End Cursor */

/* Fonts Sizes */

.f-s {
    &-38 {
        font-size: 38px;
    }
    &-14 {
        font-size: 14px;
    }
}

/* End Fonts Sizes */

/* Common */
.h {
    &-100vh {
        height: 100vh;
    }
}
/* End Common */

/* Positioning */
.inline-flex {
    display: inline-flex;
}
.row {
    display: flex;
}
.column {
    display: flex;
    flex-direction: column;
}
.jc-sb {
    justify-content: space-between;
}
.jc-c {
    justify-content: center;
}
.jc-fe {
    justify-content: flex-end;
}
.ai-c {
    align-items: center;
}
.pos-rel {
    position: relative;
}
.ai-end {
    align-items: flex-end;
}
.ai-start {
    align-items: flex-start;
}

.ais-end {
    align-self: flex-end;
}
.ais-start {
    align-self: flex-start;
}
.ais-c {
    align-self: center;
}

/* End Positioning */

.remove-right-wrapper-padding {
    margin-right: -$desktopHorizontalPadding;
}
.remove-left-wrapper-padding {
    margin-left: -$desktopHorizontalPadding;
}
@media (min-width: $desktopWidth) {
    .hide-desktop {
        display: none !important;
    }
    .remove-right-desktop-wrapper-padding {
        margin-right: -$desktopHorizontalPadding;
    }
    .remove-left-desktop-wrapper-padding {
        margin-left: -$desktopHorizontalPadding;
    }
}
@media screen and (min-width: $mobileWidth) and (max-width: $desktopWidth) {
    .remove-tablet-wrapper-padding {
        width: 100vw !important;
        transform: translate(-50%);
        margin-left: 50%;
    }
    .remove-right-tablet-wrapper-padding {
        margin-right: -$tabletHorizontalPadding;
    }
    .remove-left-tablet-wrapper-padding {
        margin-left: -$tabletHorizontalPadding;
    }
    .hide-tablet {
        display: none !important;
    }
}

@media (max-width: $mobileWidth) {
    .remove-mobile-wrapper-padding {
        width: 100vw !important;
        transform: translate(-50%);
        margin-left: 50%;
    }
    .remove-right-mobile-wrapper-padding {
        margin-right: -$mobileHorizontalPadding;
    }
    .remove-left-mobile-wrapper-padding {
        margin-left: -$mobileHorizontalPadding;
    }
    .hide-mobile {
        display: none !important;
    }
}

code {
    background: #f7f7f7 !important;
}
