@import '../../assets/styles/variables';

.loader {
    position: fixed;
    z-index: 1000;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #fff;
}

#floatingCirclesG {
    position: absolute;
    z-index: 1000;
    left: 46%;
    top: 40%;
    width: 125px;
    height: 125px;
    margin: auto;
    transform: scale(0.6);
}

.f_circleG {
    position: absolute;
    background-color: #fff;
    height: 22px;
    width: 22px;
    border-radius: 12px;
    animation-name: f_fadeG;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    -webkit-animation-direction: normal;
}

#frotateG_01 {
    left: 0;
    top: 51px;
    animation-delay: 0.45s;
}

#frotateG_02 {
    left: 15px;
    top: 15px;
    animation-delay: 0.6s;
}

#frotateG_03 {
    left: 51px;
    top: 0;
    animation-delay: 0.75s;
}

#frotateG_04 {
    right: 15px;
    top: 15px;
    animation-delay: 0.9s;
}

#frotateG_05 {
    right: 0;
    top: 51px;
    animation-delay: 1.05s;
}

#frotateG_06 {
    right: 15px;
    bottom: 15px;
    animation-delay: 1.2s;
}

#frotateG_07 {
    left: 51px;
    bottom: 0;
    animation-delay: 1.35s;
}

#frotateG_08 {
    left: 15px;
    bottom: 15px;
    animation-delay: 1.5s;
}

@keyframes f_fadeG {
    0% {
        background-color: $yellow;
    }

    100% {
        background-color: lighten($yellow, 25%);
    }
}

@-o-keyframes f_fadeG {
    0% {
        background-color: $yellow;
    }

    100% {
        background-color: lighten($yellow, 25%);
    }
}

@-ms-keyframes f_fadeG {
    0% {
        background-color: $yellow;
    }

    100% {
        background-color: lighten($yellow, 25%);
    }
}

@-webkit-keyframes f_fadeG {
    0% {
        background-color: $yellow;
    }

    100% {
        background-color: lighten($yellow, 25%);
    }
}

@-moz-keyframes f_fadeG {
    0% {
        background-color: $yellow;
    }

    100% {
        background-color: lighten($yellow, 25%);
    }
}
