@import '../../styles';

.color-btn {
    padding: 15px 32px;
    gap: 76px;
    width: 262px;
    height: 45px;
    border-radius: 10px;
    &:after {
        content: url('/assets/img/chevron-right-white.svg');
        width: 20px;
        height: 20px;
        background: var(--black);
        border-radius: 15px;
        color: var(--full-white);
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
